/src/server/node_modules
/src/server/public/hot
/src/server/public/storage
/src/server/storage/app/*
/src/server/storage/framework/cache/data/*
/src/server/storage/framework/sessions/*
/src/server/storage/framework/testing/*
/src/server/storage/framework/views/*
/src/server/storage/logs/*
/src/server/storage/*.key
/src/server/vendor
/src/server/.styleci.yml
/src/server/.phpunit.result.cache
/src/server/.php-cs-fixer.cache
/src/server/package.json
/src/server/phpunit.xml
/src/server/README.md
/src/server/phpspec.yml
/src/server/npm-debug.log
/src/server/yarn-error.log
/.github
/.git
/.idea
/.vscode
**.env*
**.editorconfig
**.gitattributes
**.gitignore
**.md
